* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    display: flex;
    background-color: #4B2E1C;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    gap: 15px;
}

.heading h1 {
    color: white;
    font-size: 8vw;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: white;
    font-size: 3.5vw;
}

.navigation a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color:red
}

.banner {
    position: relative;
}

.txt_overlay {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    color: white;
    font-size: 7vw;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-style: italic;
}