* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'SiteFont';
    src: url('fonts/RegentiaNeoveleRegular.ttf') format('truetype');
}

.heading {
    position: fixed;
    display: flex;
    background-color: #F5F5DC;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh;
    width: 100%;
    z-index: 1000;
    opacity: 100%;
    transition: opacity 0.8s ease;
}

.heading h1 {
    font-family: 'SiteFont', sans-serif;
    color: black;
    font-size: 2vw;
}

.heading.transparent {
    opacity: 65%;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: white;
    font-size: 2vw;
}

.navigation a {
    font-family: 'SiteFont', sans-serif;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-right: 2vw;
}

.navigation a:hover {
    color:red
}

.banner {
    position: relative;
}

.txt_overlay {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    color: white;
    font-size: 7vw;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-style: italic;
}